<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="../../tests/bootstrap.php"
    cacheResult="false"
    colors="true"
    executionOrder="depends,defects"
    failOnRisky="true"
    failOnWarning="true"
    beStrictAboutOutputDuringTests="true"
    processIsolation="false"
    stopOnFailure="false"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="false"
>
    <source>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="unit">
            <directory>./Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
    </php>
</phpunit>
