services:

  php-fpm:
    build: docker
    container_name: 'php-11'
    ports:
      - '8000:8000'
    volumes:
      - ./:/app
    working_dir: /app

  nginx:
    image: nginx
    container_name: 'nginx-11'
    working_dir: /app
    ports:
      - '7777:80'
    volumes:
      - ./:/app
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf

  postgres:
    image: postgres:17
    ports:
      - 15432:5432
    container_name: 'postgresql-11'
    working_dir: /app
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - dump:/app/dump
      - postgresql:/var/lib/postgresql/data

volumes:
  dump:
  postgresql: